body {
  margin: 0px;
  /* background-color: greenyellow; */


  row-gap: 20px;
  gap: 20px;
  /* justify-content: center;
     align-items: center;
    align-content: space-evenly; */
  font-family: Helvetica, Arial, sans-serif;

}


.topbar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 36px;
  width: 100%;
  /* background-color: aquamarine; */
}


a {
  text-decoration: none;
  color: black;
}

.box {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  height: 100%
}

.number {
  font-size: 70px;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.list-img {
  /* Set the max height to a specific value, max-width to 100% and the auto's will automatically size the image correctly */
  max-height: 300px;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.image-wrapper {
  flex-grow: 1;
  /*let the image-wrapper take all available space aka grow */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.container {
  /* display: grid;
    grid-template-columns: auto auto auto; */

  display: grid;

  /* This says: Create as many columns as will fit. */
  /* Each column must be at least 300px wide, but can stretch (1fr) to fill space. */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 10px;
  text-align: center;
  margin: 5px;
}

.header-year{
  position: absolute;
  top: 0;
  font-size: 300px;
  font-weight: 500;
  z-index: 20;
}
.introduction{
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 40%;
  font-size: 20px;
  font-weight: 500;
  z-index: 10;
  font-family: "HomeSweetHome";
  pointer-events: none;
}
.introduction p{
  margin-top: 0;
}
.introduction span{
  font-size: 35px;
}

.oval-container {
  pointer-events: auto;
}

/* Fonts */
@font-face {
  font-family: "HomeSweetHome";
  src: url("/fonts/Home\ Sweet\ Home.otf");
}
